.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cont {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0;
  color: white;
  border-color: white;
  position: relative;
}

.cont .box {
  width: 80px;
  height: 73px;
  border: 0.2px solid black;
  color: transparent;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

#boardimg {
  position: absolute;
  width: 800px;
  height: 730px;
  z-index: 1;
  pointer-events: none;
}
