.player {
  width: 60px;
  height: 60px;
  position: absolute;
  border: 1px solid black;
  border-radius: 100px;
  transition: all linear 0.5s;
  z-index: 2;
}

.player-1 {
  background-color: yellow;
  top: 0px;
  left: -62px;
}

.player-2 {
  background-color: #C71D1D;
  top: -55px;
  left: -62px;
}
