@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(255, 255, 0), rgba(0, 255, 0, 0.801));

    /*font-family: 'Poppins', sans-serif;*/
    justify-content: center;
}

.mySlides {
    display: none;
}

.cont {
    display: grid;
    width: 730px;
    grid-template-columns: repeat(10, 1fr);
    margin: 0px 0 0px 0;
}

.cont div {
    width: 73px;
    height: 73px;
    border: .2px solid black;
}

#p1,
#p2 {
    width: 56px;
    height: 54px;
    position: relative;
    border: 1px solid black;
    /*opacity: 0.9;*/
    transition: all linear .5s;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding-top: 12px;
    /* position: absolute; */
}

#p1 {
    z-index: 2;
    position: relative;
    top: 0px;
    left: -62px;
    /*background-color: rgb(243, 181, 46);*/
    background-color: yellow;
}

#p2 {
    z-index: 2;
    position: relative;
    top: -55px;
    left: -62px;
    /*background-color: rgb(236, 82, 82);*/
    background-color: green;
    color: white;
}

#boardimg {
    position: relative;
    top: -730px;
    
    /* z-index: -1; */
    width: 730px;
    height: 730px;
}

#diceCont {
    display: grid;
    place-items: center;
    position: absolute;
    top: 200px;
    left: 120px;
    font-size: 2rem;
}

#play1 {
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
    /*z-index: 999;*/
}

#play2 {
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 20%;
    left: 82%;
    transform: translate(-50%, -50%);
    /*z-index: 999;*/
}

#tog1 {
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    /*z-index: 999;*/
}

#tog2 {
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    /*z-index: 999;*/
}

#dnum1 {
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    /*z-index: 999;*/
}

#dnum2 {
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    /*z-index: 999;*/
}

#dice1 {
    width: 70px;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    /*z-index: 999;*/
    /* Ensure it's on top of other elements */
    transition: transform 1s ease-out;
}

#dice2 {
    width: 70px;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    /*z-index: 999;*/
    /* Ensure it's on top of other elements */
    transition: transform 1s ease-out;
}

#dice.rolling {
    animation: roll 1s ease-out;
}

@keyframes roll {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
    padding: 2px 16px;
    background-image: linear-gradient(to left, rgb(255, 255, 0), rgba(0, 255, 0, 0.801));
    color: white;
}

.modal-body {
    padding: 30px 25px;
}

.modal-footer {
    padding: 2px 16px;
    background-image: linear-gradient(to left, rgb(255, 255, 0), rgba(0, 255, 0, 0.801));
    color: white;
}

button {
    font-size: 21px;
    text-align: center;
    padding: 3px 15px;
}



.container {
    width: 450px;
    padding: 20px;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    text-align: center;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 20px;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.button:hover {
    background-color: #3071a9;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.hide {
    display: none;
}