@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    /*font-family: Arial, Helvetica, sans-serif;*/
    place-items: center;
    /*margin-left: 350px;*/
    margin-top: 5px;
    /*background-image: linear-gradient(to right, rgb(255, 255, 0), rgba(0, 255, 0, 0.801));*/
    background-color: black;
    background-image: url('../bg/gamebg.jpg');
    background-size: 100%; /*200vh*/
    background-repeat: repeat-y;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    justify-content: center;
}

.mySlides {
    display: none;
}

.cont {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(10, 1fr);
    margin: 0px 0 0px 0;
    color: white;
    border-color: white;
}

.cont div {
    width: 80px;
    height: 73px;
    border: .2px solid black;
    color: white;
    border-color: white;
}

#p1,
#p2 {
    width: 60px;
    height: 60px;
    position: relative;
    border: 1px solid black;
    transition: all linear .5s;
}

#p1 {
    z-index: 2;
    position: relative;
    top: 0px;
    left: -62px;
    border-radius: 100px;
    /*background-color: rgb(243, 181, 46);*/
    background-color: yellow;
}

#p2 {
    z-index: 2;
    position: relative;
    top: -55px;
    left: -62px;
    border-radius: 100px;
    background-color: #C71D1D;
}

#boardimg {
    position: fixed; /*relative*/
    /*top: -730px;*/
    /* z-index: -1; */
    width: 800px;
    height: 730px;
}

#diceCont {
    display: grid;
    place-items: center;
    position: absolute;
    top: 200px;
    left: 120px;
    font-size: 2rem;
}

#tog1 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: fixed;
    margin-bottom: 20px;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #F6D636;
    text-shadow: 2px 2px 5px black;
    /*z-index: 999;*/
}

#tog2 {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: fixed;
    margin-bottom: 20px;
    /*letter-spacing: 1px;*/
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: #C71D1D;
    /*text-shadow: 0.5px -1px 0.5px white;*/
    text-shadow: 2px 2px 5px black;
    /*z-index: 999;*/
}
/*
#dnum1 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: fixed;
    top: 25%;
    left: 67%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    color: #F6D636;
    text-shadow: 2px 2px 5px black;
}

#dnum2 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: fixed;
    top: 25%;
    left: 89%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    color: #C71D1D;
    text-shadow: 1px 1px 1px white;
}*/

#dice1 {
    width: 70px;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 10%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-out;
}

#dice2 {
    width: 70px;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 90%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-out;
}

#dice.rolling {
    animation: roll 1s ease-out;
}

@keyframes roll {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    background-image: url("bg/loginbg.jpg");
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
    padding: 2px 16px;
    /*background-image: linear-gradient(to left, rgb(255, 255, 0), rgba(0, 255, 0, 0.801));*/
    background-color: #0B544B;
    color: white;
}

.modal-body {
    padding: 30px 25px;
    font-size: 20px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #0B544B;
}

button {
    font-size: 21px;
    text-align: center;
    padding: 3px 15px;
    background-color: crimson;
    color: white;
}

.container {
    width: 450px;
    padding: 20px;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    text-align: center;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 20px;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.button:hover {
    background-color: #3071a9;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.hide {
    display: none;
}

#myModal1{
    background-image: url(../bg/gamebg.jpg);
    background-size: 200vh;
    background-repeat: repeat-y;
}

#myModal2{
    background-image: url(../bg/popup.jpg);
    background-size: 200vh;
    background-repeat: repeat-y;
}

#myModal{
    background-image: url(../bg/popup.jpg);
    background-size: 200vh;
    background-repeat: repeat-y;
}